html,
body {
  margin: 0;
  padding: 0;
}

.bg {
  /* The image used */
  background-image: url('http://group3isamazing.xyz/images/bg-sunset2.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding-top: 50px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  background: black;
}

.nav {
  background-color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  min-width: 0;
}

.logo {
  display: flex;
  padding-left: 25px;
}

.iconDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#title {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #005f73;
}

.links {
  width: 250px;
  display: flex;
  justify-content: space-around;
  font-family: 'Ubuntu', sans-serif;
  color: #005f73;
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url('http://group3isamazing.xyz/images/bg-sunset2.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 80%;
  width: 80%;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#loggedInDiv {
  font-size: 30px;
  width: 70%;
  margin-left: 15%;
  padding: 25px;
  background-color: #b2b2b2;
}

#accessUIDiv {
  font-size: 30px;
  width: 70%;
  background-color: #b2b2b2;
}

.buttons {
  font-size: 30px;
  border-radius: 25px;
  width: 50%;
  font-family: 'Ubuntu', sans-serif;
  background-color: #001219;
  color: white;
}

.buttons:hover {
  background-color: #00d5124f;
  color: #ffffff;
  opacity: 50%;
}

/* #loginName {
  font-size: 30px;
}
#loginPassword {
  font-size: 30px;
} */
#searchText {
  font-size: 30px;
}
#colorText {
  font-size: 30px;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 0;
}

input[type='text'],
input[type='password'] {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  height: 60px;
  font-family: 'Ubuntu', sans-serif;
}

#inner-title {
  display: inline-block;
  font-size: 2em;
  width: 90%;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  padding-bottom: 25px;
}

#loginResult {
  display: inline-block;
  font-size: 0.8em;
  width: 90%;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: black;
}

#userName {
  display: inline-block;
  width: 90%;
  text-align: center;
}

#logoutButton {
  width: 20%;
}

/* select {
  width: 30%;
  margin-left: 35%;
  margin-top: 2%;
  font-size: 0.75em;
  font-family: 'Ubuntu', sans-serif;
} */

#colorSearchResult {
  display: none;
}

/* #colorAddResult {
  display: inline-block;
  font-size: 0.8em;
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 1%;
  font-family: 'Ubuntu', sans-serif;
  color: #95060a;
} */
